[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
mypy = "*"
Cython = "*"
SQLAlchemy = "*"
python-dotenv = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
pg8000 = "*"
numpy = "*"
pip = "==9.0.3"
wheel = "*"
p5py = "*"
pep517 = "*"
flask = "*"
flask-migrate = "*"
flask-script = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.Flask]
extras = [ "async",]
