[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
openpyxl = "*"
mypy = "*"
flask = "*"
cython = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
