body {
    background-color: none;
}

table {
    height: 100%;
}

label {
    margin: auto;
    text-align: center;
    display: block;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    text-align: center;
    width: 20%;
    position: relative;
}

td {
    text-align: center;
}

#box {
    width: 50%;
    height: auto;
    margin: auto;
    padding: 10px;
}

#box-detail {
    width: 70%;
    height: auto;
    margin: auto;
    padding: 10px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    align-items: stretch;
}

.container_item {
    width: 40%;
    height: 300px;
}

.container_item-detail {
    width: 40%;
    height: auto;
    margin-bottom: 50px;
}

.burnup_data {
    width: 100%;
    height: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.inputs {
    width: 100%;
    margin: auto;
}

.text_inputs {
    width: 30%;
    margin: auto;
    display: block;
    height: auto;
}

.text-inputs-refuel {
    width: 50%;
    margin: auto;
    display: block;
    height: auto;
}

.catalog {
    text-align: center;
}