body {
    background-color: grey;
}

#box{
    width: 50%;
    height: 200px;
    border: 2px solid;
    margin: auto;
    padding: 10px;
}

.text_inputs{
    width: 30%;
    height: auto;
}