{% extends 'base.html' %}
	{% block title %}
	<title> Refueling Page</title>
	{% endblock %}
	{% block content %}
	<div id='box'>
		<div class="card text-center">
		  <div class="card-header">
		  	 {{data.refueling_name}}
		  </div>
		  <div class="card-body">
		  	<div class='container'>
				<div class='container_item'>
					<table class='burnup_data'>
						<tr>
							<th> 7 </th>
							<th> 6 </th>
							<th> 5 </th>
							<th> 4 </th>
						</tr>
						{% for i in burnup %}
						<tr>
							{% for j in i %}
							<td>{{j}}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<br>
		    <h5 class="card-title"> {{data.description}} </h5>
		    <br>
		    <a href="#" class="btn btn-primary"> Go somewhere </a>
		  </div>
		  <div class="card-footer text-muted">
		   	{{data.date}}
		  </div>
		</div>
		
	</div>
	{% endblock %}