{% extends 'base.html' %}
	{% block title %}
	<title> Detail Page</title>
	{% endblock %}
	{% block content %}
	<div id='box-large'>
		<div class="card text-center">
		  <div class="card-header"> Fuel cycle {{ refueling.refueling_name }} from {{ refueling.date.strftime("%d %B, %Y") }} </div>
		  <div class="card-body">
		  	<div class='container'>
				<div class='row'>
					<div class='col'>
						<p> Initial core </p>
						<table class='burnup-data-multi'>
							<tr>
								<th> 6 </th>
								<th> 5 </th>
								<th> 4 </th>
								<th> 3 </th>
							</tr>
							{% set counter_old = namespace(value=7) %}
							{% for i in initial_burnup %}
							<tr>
								{% for j in i %}
								<td>{{j}}%</td>
								{% if loop.last %}
									<th style="width:90px;"> {{ counter_old.value }} </th>
									{% set counter_old.value = counter_old.value - 1 %}
								{% endif %}
								{% endfor %}
							</tr>
							{% endfor %}
						</table>
						<div>
							<a href="{{url_for('view.download', name=refueling.refueling_name, seq=0)}}" class="btn btn-primary"> Download .PDC </a>
						</div>
						<br>
					</div>
				</div>
				{% for refuel in refuel_seq %}
					<div class='row'>
						<div class="col">
							<p> {{refuel.description}} </p>
							<table class='burnup-data-multi'>
								<tr>
									<th> 6 </th>
									<th> 5 </th>
									<th> 4 </th>
									<th> 3 </th>
								</tr>
								{% set counter_new = namespace(value=7) %}
								{% for i in refuel.burnup_data %}
								<tr>
									{% for j in i %}
									<td>{{j}}%</td>
									{% if loop.last %}
										<th style="width:90px;"> {{ counter_new.value }} </th>
										{% set counter_new.value = counter_new.value - 1 %}
									{% endif %}
									{% endfor %}
								</tr>
								{% endfor %}
							</table>
							<div>
								<a href="{{url_for('view.download', name=refueling.refueling_name, seq=refuel.id)}}" class="btn btn-primary"> Download .PDC </a>
								<a href="{{url_for('view.update', name=refueling.refueling_name, seq=refuel.id)}}" class="btn btn-primary"> Change </a>
							</div>
							<br>
						</div>	
					</div>
				{% endfor %}
			</div>
			<a id="add-step" class="btn btn-primary">Add new step</a>
			<br> <br>
			<form method="POST" enctype="multipart/form-data" >
				<div id="adding-options" class='inputs' style="display:none;"> 
					<div class="text-inputs-refuel form-floating mb-3">
						<select name='options' class="form-select" id="floatingSelect" aria-label="Floating label select example">
							<option value='fresh'> Fresh fuel </option>
							<option value='swap'> Swap </option>
						</select>
						<label for="floatingSelect">Choose option</label>
					</div>
					<div class="text-inputs-refuel form-floating mb-3">
						<input type="text" name="numbers" class="form-control" id="floatingInput" placeholder="Typing...">
						<label for="floatingInput">FA numbers</label>
					</div>
					<div class="text-inputs-refuel form-floating mb-3">
						<input name="new_refuel" type="text" id='new-refuel', class="form-control" placeholder="Typing...", style="display: none">
						<label for="new_refuel">Name of refueling</label>
					</div>
					<div class="text-inputs-refuel form-floating">
					<textarea name="description" class="form-control" placeholder="Details..." id="floatingTextarea" style="height: 80px"></textarea>
					<label for="floatingTextarea"> Some details </label>
					</div>
					<br>
					<input type="submit" class="text_inputs btn btn-primary">
				</div>
			</form>
		  </div>
		  <div class="card-footer text-muted"> Download <a href='#'> document </a> or Delete <a href='#' data-bs-toggle="modal" data-bs-target="#deleteModal"> instance </a>  </div>
		</div>
	</div>
	<form action='{{url_for("view.delete", id=refueling.id)}}' method="POST", enctype="multipart/form-data">
		<!-- Modal -->
		<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Are you sure on deleting refueling instance?</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						All data of {{refueling.refueling_name}} including {{refueling.acts|length}} refueling step(s) will be deleted!
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-danger">Delete!</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script>
		$(document).ready(function() {
			$("#add-step").click(function(){
				if ($("#adding-options").css("display") == 'none') {
					$("#adding-options").css("display","block");
				}
				else {
					$("#adding-options").css("display","none");
				}
			})
		})
	</script>
	{% endblock %}