{% extends 'base.html' %}
	{% block title %}
	<title> Home Page </title>
	{% endblock %}
	{% block content %}
		<form method="POST", enctype="multipart/form-data"> 
			<div id='box-small'>
				<div class="card text-center">
				  <div class="card-header">
				    File uploading 
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Attach your local .PDC file to start use service</h5>
					<div class="input-group mb-3">
					  <input type="file" name='uploaded' class="text_inputs form-control" >
					  <label class="input-group-text" for="inputGroupFile02">Upload</label>
					</div>
				    <input type="submit" class="btn btn-primary">
				  </div>
				</div>
			</div>
		</form>
	{% endblock %}
