{% extends 'base.html' %}
	{% block content %}
		<form action='/home', method="POST", enctype="multipart/form-data"> 
			<div class="card text-center">
			  <div class="card-header">
			    Upload your .PDC file
			  </div>
			  <div class="card-body">
			    <h5 class="card-title">Special title treatment</h5>
			    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<input class="form-control" type="file" id="formFile"><br> <br>
			    <input type="submit" class="btn btn-primary">
			  </div>
			</div>

			<!-- <div id='box'>
				<label for="uploaded"> Choose file </label><br>
				<input type="file" name="uploaded" class='text_inputs'> <br> <br>
				<input type="submit" name="submitting" class='text_inputs btn btn-primary'> <br> 
			</div> -->
		</form>
	{% endblock %}
