{% extends 'base.html' %}
	{% block title %}
	<title> Reading File Page</title>
	{% endblock %}
	{% block content %}
		<form method="POST", enctype="multipart/form-data"> 
			<div id='box'>
				<div class='container'>
					<div class='container_item'>
						<table class='burnup_data'>
							<tr>
								<th> 7 </th>
								<th> 6 </th>
								<th> 5 </th>
								<th> 4 </th>
							</tr>
							{% for i in burnup %}
							<tr>
								{% for j in i %}
								<td>{{j}}%</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
				<div class='inputs'> 
					<div class="text_inputs form-floating">
					  <select name='options' class="form-select" id="floatingSelect" aria-label="Floating label select example">
					    <option value='fresh'> Fresh fuel </option>
						<option value='swap'> Swap </option>
					  </select>
					  <label for="floatingSelect">Choose option</label>
					</div> <br>
					<div class="text_inputs form-floating mb-3">
					  <input type="text" name="numbers" class="form-control" id="floatingInput" placeholder="Typing...">
					  <label for="floatingInput">FA numbers</label>
					</div>
					<input type="submit" class="text_inputs btn btn-primary">
				</div>
			</div>
		</form>
		<script> 
			console.log(document.forms)
		 </script>
	{% endblock %}
