<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<title>Document</title>
</head>
<body>
	
	<form method="POST", enctype="multipart/form-data"> 
		<div id='box'>
			<div class='container'>
				<div class='container_item'>
					<table class='burnup_data'>
						<tr>
							<th> <div> None </div> </th>
							<th> <div> None </div> </th>
							<th> <div> None </div> </th>
							<th> <div> None </div> </th>
						</tr>
						{% for i in burnup %}
						<tr>
							{% for j in i %}
							<td>{{j}}</td>
							{% endfor %}
							<td> None </td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<!-- <div class='container_item'>
					<table class='burnup_data'>
						<tr>
							<th> <div> None </div> </th>
							<th> <div> None </div> </th>
							<th> <div> None </div> </th>
							<th> <div> None </div> </th>
						</tr>
						{% for i in burnup %}
						<tr>
							{% for j in i %}
							<td>{{j}}</td>
							{% endfor %}
							<td> None </td>
						</tr>
						{% endfor %}
					</table>
				</div> -->
			</div>
			<br>
			<div class='inputs'> 
				<label for="options" class='text_inputs'> Choose option:</label><br>
				<select name="options" class='text_inputs'> 
					<option value='fresh'> Fresh fuel </option>
					<option value='swap'> Swap </option>
				</select> <br>
				<label for="numbers" class='text_inputs'> Type number(s) of FA:</label><br>
				<input type="text" name="numbers" class='text_inputs'> <br> <br>
				<input type="submit" name="submitting" class='text_inputs'> <br> 
			</div>
		</div>
	</form>
</body>
</html>