{% extends 'base.html' %}
	{% block title %}
	<title> Refueling Page</title>
	{% endblock %}
	{% block content %}
	<form method="POST", enctype="multipart/form-data"> 
		<div id='box'>
			<div class='container'>
				<div class='container_item'>
					<table class='burnup_data'>
						<tr>
							<th> 7 </th>
							<th> 6 </th>
							<th> 5 </th>
							<th> 4 </th>
						</tr>
						{% for i in old_core %}
						<tr>
							{% for j in i %}
							<td>{{j}}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</table>
				</div>
				<div class='container_item'>
					<table class='burnup_data'>
						<tr>
							<th> 7 </th>
							<th> 6 </th>
							<th> 5 </th>
							<th> 4 </th>
						</tr>
						{% for i in new_core %}
						<tr>
							{% for j in i %}
							<td>{{j}}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<br>
			<select name='options' class="text-inputs-refuel form-select" id="floatingSelect" aria-label="Floating label select example" style='margin-bottom:20px'>
				<option value='None' selected> Choose option </option>
				<option value='new'> Add new refueling </option>
				<option value='add'> Add to existing </option>
			  </select>
			<div class="text-inputs-refuel form-floating mb-3">
				<input name="name" type="text" class="form-control" id="floatingInput" placeholder="Typing...">
				<label for="floatingInput">Name of refueling</label>
			</div>
			<div class="text-inputs-refuel form-floating mb-3">
				<input name="date" type="datetime-local" class="form-control" id="floatingInput" placeholder="Date...">
				<label for="floatingInput">Choose date</label>
			</div>
			<div class="text-inputs-refuel form-floating">
			  <textarea name="description" class="form-control" placeholder="Details..." id="floatingTextarea" style="height: 80px"></textarea>
			  <label for="floatingTextarea"> Some details </label>
			</div>
			<br>
			<input type="submit" class="text_inputs btn btn-primary">

			<!-- <label for="name"> Type name of refueling operation:</label><br>
			<input type="text" name="name" class='text_inputs'> <br>
			<label for="description"> Some details:</label><br>
			<textarea name="description" class='text_inputs'></textarea>  <br>
			<label for="date"> Date:</label><br>
			<input type="datetime-local" name="date" class='text_inputs'> <br> <br>
			<input type="submit" name="submitting" class='text_inputs'> <br>  -->
		</div>
	</form>

	<script>
		$(document).ready(function(){
			const select = document.getElementById('floatingSelect')
			console.log(select.options[select.selectedIndex].value)
			$("select").click(function() {
				var nm = $(this).val()
				if (nm == 'new') {
				console.log('revealing new input...')
				}
			})
			
		})
		

	</script>
	{% endblock %}